.MuiGridList-root li:hover aside {
  cursor: pointer;
  display: block;
  z-index: 1000;
}

/* li.MuiGridListTile-root div:hover {
  font-size: 10px;
}
 */

/* .makeStyles-contact-4 {
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 60px;
  left: 20%;
  background: #fff;
  padding: 10px 2px 5px;
  border: 2px solid #f58c21;
  border-radius: 10px 0px 10px 0;
  box-shadow: 4px 4px 16px #555;
  color: #555;
  font-family: "Source Sans Pro", helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.5em;
}
 */
