.personalCenter-container {
  /* background: url('../images/img-home.jpg') center center/cover no-repeat; */
  background-color: #eee7be;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
